# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# compiled output
/build
/dist
/test
/tmp

# IDEs and editors
*.launch
*.sublime-workspace
.c9/
.classpath
.project
.settings/
/.idea
.vscode/*

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development
.env.test
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode
.history
